body {
  font-family: Ysabeau Office, sans-serif;
}

#sortable {
    background-color: red;
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

#sortable li {
    background-color: blue;
    display: inline;
    margin: 0;
    padding: 1em;
}

#sortable li span {
    background-color: green;
}

#text {
  background-color: honeydew;
}