@import url("fonts/fonts.css");
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap&subset=latin-ext');
html {
    -webkit-text-size-adjust: none;
}

body {
    font-family: Lato, sans-serif;
}

h1 {
    font-family: 'YsabeauOffice', sans-serif;
    text-align: center;
}

div.headerwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.navigation {
    display: inline-block;
    margin-bottom: 10px;
}

nav.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 3;
}

nav.navigation ul li {
    display: inline-block;
    position: relative;
}

nav.navigation ul li a {
    color: #000;
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    -webkit-transition: color 0.1s linear, background 0.1s linear;
    -moz-transition: color 0.1s linear, background 0.1s linear;
    -o-transition: color 0.1s linear, background 0.1s linear;
    transition: color 0.1s linear, background 0.1s linear;
    width: 14ch;
}

nav.navigation ul li a:hover {
    background: #eee;
    color: #111;
}

nav.navigation ul li:hover>a {
    background: #eee;
}

nav.navigation ul li:hover>ul {
    opacity: 1;
    visibility: visible;
}

nav.navigation ul ul, nav.navigation ul ul li ul {
    background: #fff;
    box-shadow: 0px 1px 2px #0004;
    list-style: none;
    padding: 0;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.1s linear, visibility 0.1s linear;
    -moz-transition: opacity 0.1s linear, visibility 0.1s linear;
    -o-transition: opacity 0.1s linear, visibility 0.1s linear;
    transition: opacity 0.1s linear, visibility 0.1s linear;
    visibility: hidden;
    z-index: 2;
}

nav.navigation ul ul ul {
    left: 100%;
    top: 0;
    z-index: 1;
}