h1 {
    padding: 0;
    margin: 4pt;
}

header.Header {
    background-color: #fff;
    position: sticky;
    padding: 0;
    top: 0;
    z-index: 1;
}

nav.HeaderNavigation {
    flex-direction: column;
    padding: 0;
}

nav.HeaderNavigation ul li {
    display: block;
    position: relative;
}

nav.HeaderNavigation div.HeaderSpace {
    margin: 0;
    padding: 0;
}

nav.HeaderNavigation div.HeaderMenu {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav.HeaderNavigation div.HeaderMenu::before {
    border-top: 1px solid #ccc;
    content: "";
    display: block;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 32pt);
}

nav.HeaderNavigation ul ul, nav.HeaderNavigation ul ul ul {
    display: none;
    position: relative;
}

nav.HeaderNavigation div.HeaderMenu a.HeaderMenuLink {
    color: #000;
    display: block;
    font-family: 'Cormorant Garamond', serif;
    font-feature-settings: "smcp";
    font-weight: 700;
    padding: 8pt;
    text-align: center;
    text-decoration: none;
}

nav.HeaderNavigation div.HeaderMenu a.HeaderMenuLink:hover {
    background: #eee;
    color: #000;
}

nav.HeaderNavigation ul.HeaderCats {
    display: none;
}

nav.HeaderNavigation ul ul ul {
    left: 100%;
    top: 0;
}