@import url("Fonts/Ysabeau/Ysabeau.css");
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&subset=latin-ext');
html {
    -webkit-text-size-adjust: none;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    margin: 0;
    border: 0;
}

h1 {
    font-family: 'YsabeauOffice', sans-serif;
    text-align: center;
}

div.headerwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.navigation {
    display: inline-block;
    margin-bottom: 10px;
}

nav.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 3;
}

nav.navigation ul li {
    display: inline-block;
    position: relative;
}

nav.navigation ul li a {
    color: #000;
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    -webkit-transition: color 0.1s linear, background 0.1s linear;
    -moz-transition: color 0.1s linear, background 0.1s linear;
    -o-transition: color 0.1s linear, background 0.1s linear;
    transition: color 0.1s linear, background 0.1s linear;
    width: 14ch;
}

nav.navigation ul li a:hover {
    background: #eee;
    color: #111;
}

nav.navigation ul li:hover>a {
    background: #eee;
}

nav.navigation ul li:hover>ul {
    opacity: 1;
    visibility: visible;
}

nav.navigation ul ul, nav.navigation ul ul li ul {
    background: #fff;
    box-shadow: 0px 1px 2px #0004;
    list-style: none;
    padding: 0;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.1s linear, visibility 0.1s linear;
    -moz-transition: opacity 0.1s linear, visibility 0.1s linear;
    -o-transition: opacity 0.1s linear, visibility 0.1s linear;
    transition: opacity 0.1s linear, visibility 0.1s linear;
    visibility: hidden;
    z-index: 2;
}

nav.navigation ul ul ul {
    left: 100%;
    top: 0;
    z-index: 1;
}

div.iconheader {
    font: bold 16pt 'YsabeauOffice', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#444, #222);
    color: #fff;
    padding: 0 1ch;
    box-shadow: 0 0px 16px #000;
}

div.iconheader>div {
    margin: 0 .5ch;
}

div.iconheader div {
    background-color: #fff;
    border-radius: 3ch;
    display: inline-block;
    overflow: hidden;
    padding: .5ch;
    white-space: nowrap;
}

div.iconheader div.title {
    background: none;
    vertical-align: center;
}

div.iconheader div.emptli {
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

div.iconheader div.icontext {
    color: #000;
    padding-right: 0;
}

div.iconheader .ico {
    vertical-align: middle;
    padding: .5ch;
}

div.iconheader .ico img {
    height: 1.5em;
    padding: .5ch 1px .5ch 0;
    width: 1.5em;
    vertical-align: middle;
    filter: invert(12%);
}

div.iconheader div.iconinfo {
    opacity: 0;
    max-width: 0;
    font-style: normal;
    display: inline-block;
    padding: 0;
    -webkit-transition: max-width 1s ease-out, opacity 1s ease-out, padding-right 1s ease-out;
    -moz-transition: max-width 1s ease-out, opacity 1s ease-out, padding-right 1s ease-out;
    -o-transition: max-width 1s ease-out, opacity 1s ease-out, padding-right 1s ease-out;
    transition: max-width 1s ease-out, opacity 1s ease-out, padding-right 1s ease-out;
    vertical-align: middle;
}

div.iconheader div.icontext:hover div.iconinfo {
    opacity: 1;
    padding-right: 1em;
    max-width: 15ch;
    -webkit-transition: max-width 1s ease-out, opacity 1s ease-out, padding-right .1s ease-out;
    -moz-transition: max-width 1s ease-out, opacity 1s ease-out, padding-right .1s ease-out;
    -o-transition: max-width 1s ease-out, opacity 1s ease-out, padding-right .1s ease-out;
    transition: max-width 1s ease-out, opacity 1s ease-out, padding-right .1s ease-out;
}

div.maintext {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    padding: 2ch;
}