@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Hairline.woff2') format('woff2'), url('Ysabeau-Hairline.woff') format('woff');
    font-weight: 50;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-HairlineItalic.woff2') format('woff2'), url('Ysabeau-HairlineItalic.woff') format('woff');
    font-weight: 50;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Thin.woff2') format('woff2'), url('Ysabeau-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-ThinItalic.woff2') format('woff2'), url('Ysabeau-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Extralight.woff2') format('woff2'), url('Ysabeau-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-ExtralightItalic.woff2') format('woff2'), url('Ysabeau-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Light.woff2') format('woff2'), url('Ysabeau-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-LightItalic.woff2') format('woff2'), url('Ysabeau-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Semilight.woff2') format('woff2'), url('Ysabeau-Semilight.woff') format('woff');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-SemilightItalic.woff2') format('woff2'), url('Ysabeau-SemilightItalic.woff') format('woff');
    font-weight: 350;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Regular.woff2') format('woff2'), url('Ysabeau-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Italic.woff2') format('woff2'), url('Ysabeau-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Medium.woff2') format('woff2'), url('Ysabeau-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-MediumItalic.woff2') format('woff2'), url('Ysabeau-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Semibold.woff2') format('woff2'), url('Ysabeau-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-SemiboldItalic.woff2') format('woff2'), url('Ysabeau-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Bold.woff2') format('woff2'), url('Ysabeau-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-BoldItalic.woff2') format('woff2'), url('Ysabeau-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Ultrabold.woff2') format('woff2'), url('Ysabeau-Ultrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-UltraboldItalic.woff2') format('woff2'), url('Ysabeau-UltraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Heavy.woff2') format('woff2'), url('Ysabeau-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('Ysabeau-Black.woff2') format('woff2'), url('Ysabeau-Black.woff') format('woff');
    font-weight: 950;
    font-style: normal;
}

/* Ysabeau Infant */

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-Hairline.woff2') format('woff2'), url('YsabeauInfant-Hairline.woff') format('woff');
    font-weight: 50;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-HairlineItalic.woff2') format('woff2'), url('YsabeauInfant-HairlineItalic.woff') format('woff');
    font-weight: 50;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-Thin.woff2') format('woff2'), url('YsabeauInfant-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-ThinItalic.woff2') format('woff2'), url('YsabeauInfant-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-Extralight.woff2') format('woff2'), url('YsabeauInfant-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-ExtralightItalic.woff2') format('woff2'), url('YsabeauInfant-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-Light.woff2') format('woff2'), url('YsabeauInfant-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-LightItalic.woff2') format('woff2'), url('YsabeauInfant-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-Semilight.woff2') format('woff2'), url('YsabeauInfant-Semilight.woff') format('woff');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-SemilightItalic.woff2') format('woff2'), url('YsabeauInfant-SemilightItalic.woff') format('woff');
    font-weight: 350;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-Regular.woff2') format('woff2'), url('YsabeauInfant-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-Italic.woff2') format('woff2'), url('YsabeauInfant-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-Medium.woff2') format('woff2'), url('YsabeauInfant-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-MediumItalic.woff2') format('woff2'), url('YsabeauInfant-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-Semibold.woff2') format('woff2'), url('YsabeauInfant-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-SemiboldItalic.woff2') format('woff2'), url('YsabeauInfant-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-Bold.woff2') format('woff2'), url('YsabeauInfant-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant-BoldItalic.woff2') format('woff2'), url('YsabeauInfant-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/* Ysabeau Office */

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Hairline.woff2') format('woff2'), url('YsabeauOffice-Hairline.woff') format('woff');
    font-weight: 50;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-HairlineItalic.woff2') format('woff2'), url('YsabeauOffice-HairlineItalic.woff') format('woff');
    font-weight: 50;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Thin.woff2') format('woff2'), url('YsabeauOffice-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-ThinItalic.woff2') format('woff2'), url('YsabeauOffice-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Extralight.woff2') format('woff2'), url('YsabeauOffice-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-ExtralightItalic.woff2') format('woff2'), url('YsabeauOffice-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Light.woff2') format('woff2'), url('YsabeauOffice-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-LightItalic.woff2') format('woff2'), url('YsabeauOffice-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Semilight.woff2') format('woff2'), url('YsabeauOffice-Semilight.woff') format('woff');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-SemilightItalic.woff2') format('woff2'), url('YsabeauOffice-SemilightItalic.woff') format('woff');
    font-weight: 350;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Regular.woff2') format('woff2'), url('YsabeauOffice-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Italic.woff2') format('woff2'), url('YsabeauOffice-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Medium.woff2') format('woff2'), url('YsabeauOffice-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-MediumItalic.woff2') format('woff2'), url('YsabeauOffice-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Semibold.woff2') format('woff2'), url('YsabeauOffice-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-SemiboldItalic.woff2') format('woff2'), url('YsabeauOffice-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Bold.woff2') format('woff2'), url('YsabeauOffice-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-BoldItalic.woff2') format('woff2'), url('YsabeauOffice-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Ultrabold.woff2') format('woff2'), url('YsabeauOffice-Ultrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-UltraboldItalic.woff2') format('woff2'), url('YsabeauOffice-UltraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Heavy.woff2') format('woff2'), url('YsabeauOffice-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('YsabeauOffice-Black.woff2') format('woff2'), url('YsabeauOffice-Black.woff') format('woff');
    font-weight: 950;
    font-style: normal;
}

/* Ysabeau SC */

@font-face {
    font-family: 'YsabeauSC';
    src: url('YsabeauSC-Hairline.woff2') format('woff2'), url('YsabeauSC-Hairline.woff') format('woff');
    font-weight: 50;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauSC';
    src: url('YsabeauSC-Thin.woff2') format('woff2'), url('YsabeauSC-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauSC';
    src: url('YsabeauSC-Extralight.woff2') format('woff2'), url('YsabeauSC-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauSC';
    src: url('YsabeauSC-Light.woff2') format('woff2'), url('YsabeauSC-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauSC';
    src: url('YsabeauSC-Semilight.woff2') format('woff2'), url('YsabeauSC-Semilight.woff') format('woff');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauSC';
    src: url('YsabeauSC-Regular.woff2') format('woff2'), url('YsabeauSC-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauSC';
    src: url('YsabeauSC-Medium.woff2') format('woff2'), url('YsabeauSC-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauSC';
    src: url('YsabeauSC-Semibold.woff2') format('woff2'), url('YsabeauSC-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauSC';
    src: url('YsabeauSC-Bold.woff2') format('woff2'), url('YsabeauSC-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}