@font-face {
    font-family: 'Cormorant Upright';
    src: url('CormorantUpright-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('CormorantUpright-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('CormorantUpright-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('CormorantUpright-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('CormorantUpright-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}